 
.slide1{
    width:100%;    
    display:inline-block;
    text-align: center;
    
}
.slide1 img
{   display: inline-block;
    margin:0;
    padding:0;
    max-height: 920px;
}
.overlay>img { 
  color:#fff;
  position:absolute; 
  z-index:12;
  width: 100%;
  text-align: right;
}

.log{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    overflow: visible;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 320px;
    background-color:  #b0303a;
    opacity: 1;
    font-family: 'Arvo', sans-serif;
    margin-top: 15%;
}
.username{
    margin-top:25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width:320px;
    height: 30px;
}
.password{
    margin-top:40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width:320px;
}
.login{
  position: absolute;
  overflow:  visible;
  margin-top: 60%;
  width:320px;
  left: 0;
  z-index: 10;
text-align: center;    
}