 
.slide1{
    width:100%;    
    display:inline-block;
    text-align: center;
    
}
.slide1 img
{   display: inline-block;
    margin:0;
    padding:0;
}
.overlay>img { 
  color:#fff;
  position:absolute; 
  z-index:12;
  width: 100%;
  text-align: right;
}
.login{
  position: absolute;
    overflow:  visible;
    top: 0;
    left: 0;
  z-index: 10;
    
}