#top-header {
position: absolute;
left: 0%;
top: 0;
}

form {position:absolute; display:inline-block;z-index:10}
.log{
    text-align: center;
    margin-top: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 320px;
    background-color:  #b0303a;
    opacity: 1;
    font-family: 'Arvo', sans-serif;
}
.username{
    position:absolute; 
    width:320px;
   
}
.email{
    width:320px;
   
}
.password{
   
    width:320px;
    
}
.password1{
    width:320px;
}
.gender{
    width:320px;
}
.phone{
    width:320px;
}
.login{
    margin-top: 30px;
  width:320px;
  background-color: #009cff;
  text-align: center;    
}